{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
    
    <style>
        img {
            height: 200px;
        }
    </style>
</head>

<body>
    <h2>Total: ${{ transaction.get_cart_total }}</h2>
    <div class="cart_container">
        {% for item in items %}
        <div class="item_img">
            <img src="/media/{{ item.item.item_image }}">
        </div>
        <p>{{item.quantity}}</p>
        <h3>${{item.get_total|floatformat:2}}</h3>
        {% endfor %}
    </div>
    <div class="eth_pay">
        <span>or pay with</span>
        <a class="eth_pay" href="/eth_pay">ETH</a>
    </div>
    <div class="payment">
        <button id="make-payment">Make Payment</button>
    </div>

    <script type="text/javascript">

        document.getElementById('make-payment').addEventListener('click', function (e) {
            submitFormData()
        })

        var total = '{{ transaction.get_cart_total }}'

        function submitFormData(total) {
            var total = '{{ transaction.get_cart_total }}'
            console.log('total :', total)

            var userFormData = {
                'total': total,
            }

            if(user == 'AnonymousUser'){
                console.log('Not logged in')
            }

            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ 'form': userFormData })
            })
                .then((response) => 
                    response.json()
                )

                .then((data) => {
                    console.log('Success: ', data);
                    alert('Transaction completed');
                    window.location.href = "{% url 'marketplace' %}";
                })
        }
    </script>
</body>

</html>