<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="shortcut icon" href="/media/images/favicon.ico" />
    <title>&#6158; Amonze | {{ item.item_name }}</title>

    <style>
        h2 {
            font-size: 100px;
        }
        img {
            height: 400px;
        }
    </style>
</head>

<body>
    <h2>Item {{ item.item_id }} จ้าาา</h2>
    <h2>Item {{ item.item_name }} จ้าาา</h2>
    <div class="image_wrapper">
        <img class="item_img" src="/media/{{ item.item_id }}.png">
    </div>
</body>

</html>